.container_page_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container_content_login {
    width: 1000px;
    max-width: 1000px;
    height: 550px;
    max-height: 550px;
    margin: auto auto;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    background: linear-gradient(to right,
            var(--primary-color-60) 0%,
            var(--primary-color-80) 50%,
            var(--primary-color-100) 100%);
}

.container_form_login {
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_logo_login {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_login {
    max-width: 450px;
    max-height: 450px;
    transition: all 0.15s ease-in-out;
}

.container_logo_login img:hover{
  transform: scale(1.05);
}