.mensaje_requisitos_password {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.lista_requisitos_password {
    font-family: 'Inter Regular';
    font-size: 1.2rem;
    padding-left: 1.2rem;
    color: #2C2C2C;
    line-height: 1.5;
}

.lista_requisitos_password li {
    margin-bottom: 0.4rem;
}