.container_filter {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.button_filter {
    width: 10rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.2rem 1.2rem;
    border: 2px solid var(--color-primary);
    border-radius: 0.8rem;
    background-color: var(--color-primary);
    font-family: 'Inter Regular', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: white;
   /* text-align: center;*/
    transition: all 300ms ease-out
}

.button_filter:hover{
    background-color:#2fbfd8;
}