.container_filter {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.button_filter {
    width: 10rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.2rem 1.2rem;
    border: 2px solid var(--color-primary);
    border-radius: 0.8rem;
    background-color: var(--color-primary);
    font-family: 'Inter Regular', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: white;
    transition: all 300ms ease-out;
    cursor: pointer;


}

.button_filter:hover {
    background-color: #2fbfd8;
}


/*estilos fitrlo busqueda*/


.container_filter_busqueda {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: center;
    align-items: center;
}

.container_filter_busqueda form {
    padding: 0;
}

.form_busqueda {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input_form_busqueda {
    border: 2px solid var(--color-secondary);
    color: var(--color-texto);
}

.form_group_busqueda {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*gap: 1rem;*/
    margin-right: 2rem;
}

/*estilos filtro estadisticas*/
.form_busqueda_numeric {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}


/*estilos filtro busqueda select*/
.container_content_form_filter {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.div_space {
    width: 100%;
    height: 16px;
}



/* RESPONSIVE BUTTON FILTER */

/* Tablets (768px) */
@media (max-width: 768px) {

    .container_filter {
        gap: 25px;
    }


    .button_filter {
        width: 8rem;
        font-size: 1.4rem;
        padding: 0.9rem 0.8rem;
    }
}

/* Móviles (480px) */
@media (max-width: 480px) {
    .container_filter {
        gap: 20px;
    }

    .button_filter {
        font-size: 1.2rem;
        padding: 0.7rem 0.6rem;
    }

    .div_space{
        height: 0px;
    }
}


/* RESPONSIVE FILTER SELECT */

@media (max-width: 820px) {

    .container_content_form_filter {
        flex-direction: column;
        gap: 0px;
    }

    .btn_base {
        padding: 1rem 0.5rem;
    }
}



@media (max-width: 760px) {

    .btn_base  {
        padding: 0.7rem 0rem;
    }
}