container_servicio_icon{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.imagen_mascara{
    width:186px;
    height: 186px;
    border-radius: 50%;
    overflow: hidden;
}

.imagen_mascara img{
  width: 100%;
  height: 100%;
}
.text_icon{
    margin-top: 8px;
    text-align: center;
}


.img_servicio_icon{
  transition: all 300ms ease-in-out;
}

.img_servicio_icon:hover{
  transform: scale(1.1);
}

/* Tablets */
@media (max-width: 768px) {
  .imagen_mascara {
    width: 150px;
    height: 150px;
  }

  .imagen_mascara img {
    width: 100%;
    height: 100%;
  }

}

/* Móviles */
@media (max-width: 480px) {
  .imagen_mascara {
    width: 100px;
    height: 100px;
  }

  .imagen_mascara img {
    width: 100%;
    height: 100%;
  }

}