.container_content_contacto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 40px;
}

.content_info_contacto {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 4rem;
    margin-top: 45px;
    background: white;
    border: 2px solid var(--color-primary);
    border-radius: 2rem;
}

.gruop_info_contacto {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.gruop_text_contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.content_formulario_contacto {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-end;
    gap: 10px;
}

.title_formulario_contacto {
    width: 90%;
    display: flex;
    justify-content: start;
}



.icon_info_contacto {
    font-size: 1.8rem;
}

.title_content_contacto {
    font-weight: bold;
    margin-bottom: 15px;
}

.title_info_contacto {
    font-weight: bold;
    font-size: 1.6rem;
}

.text_info_contacto {
    font-size: 1.4rem;
}


/* RESPONSIVE TIPOGRAFÍA CONTACTO */

/* Tablets (768px) */
@media (max-width: 768px) {
    .icon_info_contacto {
        font-size: 1.6rem;
    }

    .title_content_contacto {
        font-size: 1.6rem;
    }

    .title_info_contacto {
        font-size: 1.4rem;
    }

    .text_info_contacto {
        font-size: 1.2rem;
    }

    .title_formulario_contacto {
        font-size: 1.6rem;
    }
}

/* Móviles (480px) */
@media (max-width: 480px) {
    .icon_info_contacto {
        font-size: 1.4rem;
    }

    .title_content_contacto {
        font-size: 1.4rem;
    }

    .title_info_contacto {
        font-size: 1.2rem;
    }

    .text_info_contacto {
        font-size: 1rem;
    }

    .title_formulario_contacto {
        font-size: 1.4rem;
    }
}


/* RESPONSIVE CONTENEDORES*/

/* Tablets (768px) */
@media (max-width: 768px) {
    .container_content_contacto {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        flex-direction: column;
        gap: 30px;
    }

    .content_info_contacto {
        width: 100%;
        gap: 13px;
        padding: 3rem;
        margin-top: 0px;

    }

    .container_form_contacto {
        width: 100%;
    }

    .content_formulario_contacto {
        width: 100%;
        align-items: start;
    }
}
