
.btn_base {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1.4rem 0.8rem;
    font-family: 'Inter SemiBold';
    font-size: 1.8rem;
    transition: all 300ms ease-out
}

.btn_small {
    width: 40%;
}

.btn_big {
    width: 80%;
}

.btn_primary {
    border: 2px solid var(--color-secondary);
    border-radius: 0.8rem;
    background-color: var(--color-secondary);
    color: white;

}

.btn_secondary {
    border: 2px solid var(--color-secondary);
    border-radius: 0.8rem;
    background-color: white;
    color: var(--color-secondary);
}

.btn_primary:hover {
    background-color: #ff4a95;
}

.btn_secondary:hover {
    background-color: #ff4a95;
    color: white;
}