.container_form_contacto {
    width:90%;
    min-height: 60rem;
    height: auto;
    background-color: white;
    border: 2px solid var(--color-primary);
    border-radius: 3rem;

}

/*RESPONSIVE*/

/* Tablets (768px) */
@media (max-width: 768px) {
.container_form_contacto {
  width: 100%;
  min-height: 50rem;
}
}


/* Móviles */
@media (max-width: 480px) {
.container_form_contacto {
  min-height: 46rem;
}
}